body {
  font-family: Arial, sans-serif;
  
  /* background-color: #181818; */
background-color: #fff;
  letter-spacing: 0.1em;

  overflow-x: hidden;
}
h1 {
  display: flex;
  justify-content: center;
}
.underlay-text {
  color: black;
padding-top: 10vw;
  position: absolute;
  left: 50%;
  top: 0.75rem;
  /* @extend .allcaps; */
  font-family: Teko;
  font-size: 20vw;
  font-weight: 800;
  letter-spacing: 0;
  white-space: nowrap;
  opacity: 0.05;
  transform: translateX(-50%) translateY(-22.5%) scaleX(0.75) scaleY(1.1);
  pointer-events: none;
  overflow: hidden;
  line-height: 0.65;
  
  /* span {
      display: inline-block;
      position: relative;
      animation-name: slide-up-text-offset;
      animation-delay: 0.4s;
      @extend .animation;
  } */
}
/* div {
  width: 100vw;
  border: 10px solid red;
  display: flex;
  justify-content: center;
  flex-direction: column;
} */
/* div {
  border: 10px solid red;
  display: flex;
  justify-content: center;
  flex-direction: column;
} */
.football-pic{
  box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
  /* background: rgba(255,0,0, 0.5);
  box-shadow: rgba(0,0,0,.2) 3px 5px 5px; */
  /* content: '';

background-color:  #ff2416;
opacity: 2;
position: relative;
margin-right: 20px;
margin-bottom: 20px;
cursor: pointer;
box-shadow: rgba(0,0,0,.2) 3px 5px 5px; */
}

.football-button{
  display: flex;
  justify-content: center;
  margin-top: 8vw;
}
.superbowl-winner{
  display: flex;
  justify-content: center;
}
.superbowl-container {
 margin-top: 25vw;
  /* border: 10px solid red; */
  /* background-color: rgba(255, 255, 255, 0.394); */
  display: flex;
  /* justify-content: center; */
  /* position: absolute; */
  right: 43vw;
  top: 60vh;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
  /* padding: 10vw; */
}
#rams{
  position: relative;
  top: -321px;
  padding: 5vw;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
#bangels{
  position: relative;
  top: -321px;
  padding: 5vw;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.teams{
  display: flex;
flex-direction: row;
/* padding: 5vw; */
position: relative;
float: left;
cursor: pointer;
}
.tint{
  display: flex;
  flex-direction: row;

  position: relative;
  float: left;
  cursor: pointer;
}

.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: rgba(255, 0, 0, 0.5); */
  transition: background .3s linear;
}
.centered-rams{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.centered-bangels{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.tint:hover:before {
  background: none;
}
#demo{
font-family: Arial, sans-serif;;
  font-size: 20vw;
  position: relative;
    top: -541px;
}
/*button*/
button {
  position: relative;
top:-544px;
  width: 15vw;
  background-color: whitesmoke;
  color: gray;
  /* border: 10px solid red; */
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border:none;
  margin-bottom: 50px;
}
.div-teams{
  display: flex;
  justify-content: center;
}
.center-teams{
  display: flex;
  justify-content: center;
}
#rams {
 
  transition: transform 1s; /* Animation */

  margin: 0 auto;
}
#bangels {
 
  transition: transform 1s; /* Animation */

  margin: 0 auto;
}

#rams:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#bangels:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
button{
  background-color: #555555;
  color: white;
}

.logo{
  display: flex;
  justify-content: center;
  
}
.superbowl-logo{
  margin-top: 320px;
}